<div class="link-custom" style="margin: 20px;">
  <%= link_to 'all', users_path, class: 'btn btn-info' %>
  <%= link_to 'Vegans', users_path(vegans: true), class: 'btn btn-info' %>
</div>

<%= render 'shared/users' %>
